In [66]:
##Importing Pandas and Nunpy
import pandas as pd
import numpy as np

In [69]:
##Importing only the columns that I need
col_list = ["Date", "HomeTeam","AwayTeam","FTHG","FTAG","B365H","B365D","B365A"]
df = pd.read_csv("2019_2020.csv", usecols=col_list)

In [70]:
upsets = 0
non_upsets = 0
starting_bankroll = 500
wagering_size = 25

In [71]:
bankroll = starting_bankroll

In [72]:
df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,B365H,B365D,B365A
0,09/08/2019,Liverpool,Norwich,4,1,1.14,10.00,19.00
1,10/08/2019,West Ham,Man City,0,5,12.00,6.50,1.22
2,10/08/2019,Bournemouth,Sheffield United,1,1,1.95,3.60,3.60
3,10/08/2019,Burnley,Southampton,3,0,2.62,3.20,2.75
4,10/08/2019,Crystal Palace,Everton,0,0,3.00,3.25,2.37
...,...,...,...,...,...,...,...,...
375,26/07/2020,Leicester,Man United,0,2,3.25,3.50,2.20
376,26/07/2020,Man City,Norwich,5,0,1.08,11.00,26.00
377,26/07/2020,Newcastle,Liverpool,1,3,7.50,5.25,1.36
378,26/07/2020,Southampton,Sheffield United,3,1,2.15,3.50,3.30
379,26/07/2020,West Ham,Aston Villa,1,1,3.00,3.60,2.30

In [73]:
df.dtypes

Date         object
HomeTeam     object
AwayTeam     object
FTHG          int64
FTAG          int64
B365H       float64
B365D       float64
B365A       float64
dtype: object

In [77]:
df['HomeDog'] = np.where(df['B365H'] > df['B365A'], 1, 0)
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,B365H,B365D,B365A,HomeDog
0,09/08/2019,Liverpool,Norwich,4,1,1.14,10.00,19.00,0
1,10/08/2019,West Ham,Man City,0,5,12.00,6.50,1.22,1
2,10/08/2019,Bournemouth,Sheffield United,1,1,1.95,3.60,3.60,0
3,10/08/2019,Burnley,Southampton,3,0,2.62,3.20,2.75,0
4,10/08/2019,Crystal Palace,Everton,0,0,3.00,3.25,2.37,1

In [82]:
for i, row in df.iterrows():
    if row['B365H'] > row['B365A']:
        if row['FTHG'] > row['FTAG']:
            upsets += 1
            bankroll += wagering_size * (row['B365H']-1)
        else:
            non_upsets += 1
            bankroll -= wagering_size

In [83]:
ROI = ((bankroll - starting_bankroll) / (wagering_size * (upsets + non_upsets))) * 100

print ("There were '%s' upsets out of '%s' total matches" % (upsets, upsets + non_upsets))
print ("Starting bankroll = '%s'" % (starting_bankroll))
print ("Finishing bankroll = '%s' | ROI = '%s'" % (bankroll, ROI))

There were '38' upsets out of '134' total matches
Starting bankroll = '500'
Finishing bankroll = '1376.25' | ROI = '26.15671641791045'

In [36]:
print (non_upsets)

1